<div class="banner">
  <div class="banner-content">
    <h1 class="mb-5 title">
        {{title}}
    </h1>
    <form class="filters">
        <div class="form-group">
            <label for="filterInput">Search Filter</label>
            <input type="text" class="form-control" id="filterInput" name="filter" [(ngModel)]="filter" (blur)="refreshList()" (keyup.enter)="refreshList()"/>
        </div>
        <div class="form-group">
            <label for="countInput">Items Shown</label>
            <select class="form-control" id="countInput" name="count" [(ngModel)]="shown" (ngModelChange)="refreshList()">
                <option *ngFor="let i of [20, 50, 100]">
                    {{i}}
                </option>
            </select>
        </div>
        <div class="form-group text-warning" >
            <label for="totalOutput">Total Matches: </label>
            {{total}}
        </div>
    </form>
  </div>
</div>
<div *ngIf="isLoading" class="loading h5 text-center py-4">
  Loading
</div>
<div *ngIf="!isLoading" class="id-card-wrapper" >
  <div class="id-card" *ngFor="let comic of comics; let i = index" [attr.data-index]="i">
    <div class="profile-row">
      <div class="thumbnail" (click)="openModal(i)">
        <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="Card image cap" />
      </div>
    </div>
  </div>
</div>
<footer>
    <blockquote class="blockquote text-red">
        <p class="mb-0" [innerHTML]="attribution"></p>
    </blockquote>
</footer>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
   <div *ngIf="selectedComic" class="modal-content comic-detail bg-dark text-white rounded-0">
      <div class="modal-header">
         <h4 class="modal-title pull-left">{{ selectedComic.title }} </h4>
         <button type="button" class="close pull-right text-white" aria-label="Close" (click)="staticModal.hide()">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body p-0">
        <div class="thumbnail-lg">
          <img class="w-100" src="{{selectedComic.thumbnail.path}}.{{selectedComic.thumbnail.extension}}" alt="Card image cap" />
        </div>
        <div class="description p-2">
          <p *ngIf="selectedComic.description">{{ selectedComic.description }}</p>
          <p *ngIf="!selectedComic.description">Theres no description found in Marvel Database.</p>
        </div>
      </div>
   </div>
</div>
</div>
