body {
  margin:0px;
  font-family: 'Orbitron', sans-serif;
  color: #222;
  text-shadow: 0px 0px 4px #ccc;
  letter-spacing: 1px;
  background: #fff;
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
.title,
.filters {
  display: block;
  text-align: center;
}
.filters {
  padding: 20px 0;
}
.form-group {
  display: inline-block;
}
.form-group input,
.form-group select {
  font-family: 'Orbitron', sans-serif;
  color: #222;
  background-color: #fff;
  /*box-shadow: 0px 0px 3px 1px #f0141e, inset 0px 0px 3px 1px #f0141e;*/
  border: 3px solid #f0141e;
  padding: 10px 15px;
}
.id-card-wrapper {
  padding: 10px 15px;
  background-color: #fff;
  display: inline-flex;
}
.id-card {
  flex-basis: 100%;
  max-width: 30em;
  margin: auto;
  color: #222;
  padding: 1em;
  background-color: #f1f1f1;
  /*box-shadow: 0px 0px 3px 1px #f0141e, inset 0px 0px 3px 1px #f0141e;*/
  border: 3px solid #f0141e;
}

.profile-row {
  display: flex;
}
.profile-row .dp {
  flex-basis: 33.3%;
  position: relative;
  margin: 24px;
  align-self: center;
  width:150px;
  height:150px;
}
.profile-row .desc {
  flex-basis: 66.6%;
}

.profile-row .dp img {
  width:150px;
  height:150px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 4px 3px #e62429;
}
.profile-row .desc {
  padding: 1em;
}

.profile-row .dp .dp-arc-inner {
  position: absolute;
  width: 170px;
  height: 170px;
  border: 6px solid transparent;
  border-top-color: #e62429;
  border-radius: 50%;
  top: -15px;
  left: -22px;

  animation-duration: 2s;
  animation-name: rotate-clock;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-row .dp .dp-arc-outer {
  position: absolute;
  width: calc(150px + 40px);
  height: calc(150px + 40px);
  border: 6px solid transparent;
  border-bottom-color: #e62429;
  border-radius: 50%;
  top: -22px;
  left: -31px;

  animation-duration: 2s;
  animation-name: rotate-anticlock;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 585px) {
  .profile-row .dp .dp-arc-outer {
    left: -51px;
  }
  .profile-row .dp .dp-arc-inner {
    left: -42px;
  }
}

@keyframes rotate-anticlock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.profile-row .desc {
  font-family: 'Orbitron', sans-serif;
  color: #222;
  text-shadow: 0px 0px 4px #ccc;
  letter-spacing: 1px;
}
.profile-row .desc h1 {
  margin: 0px;
}
