body {
  margin:0px;
  font-family: 'Orbitron', sans-serif;
  color: #222;
  text-shadow: 0px 0px 4px #ccc;
  letter-spacing: 1px;
  background: #fff;
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
.title,
.filters {
  display: block;
  text-align: center;
}
.filters {
  padding-bottom: 20px;
}
.form-group {
  display: inline-block;
  margin-bottom: 5px;
}
.form-group input,
.form-group select {
  font-family: 'Orbitron', sans-serif;
  color: #222;
  background-color: #fff;
  /*box-shadow: 0px 0px 3px 1px #2E80B7, inset 0px 0px 3px 1px #2E80B7;*/
  border: 3px solid #2E80B7;
}
.id-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.id-card {
  flex-grow: 1;
  width: 20%;
  margin: 3px 5px;
  color: #222;
  position: relative;
}

.profile-row {
  position: relative;
  align-self: center;
}
.profile-row .desc {
  flex-basis: 66.6%;
}

.profile-row .thumbnail img{
  width: 100%;
  max-width: 296px;
  display: block;
}
.profile-row .desc {
  padding: 1em;
}


.profile-row .desc {
  font-family: 'Orbitron', sans-serif;
  color: #222;
  text-shadow: 0px 0px 4px #ccc;
  letter-spacing: 1px;
}
.profile-row .desc h1 {
  margin: 0px;
}
